html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.span-font {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-spacer {
  padding: 30px 39px;
}

.terms {
  margin: 30px 1px 0 0;
  padding-left: 52px;
  font-size: 14px;
  line-height: 5px;
  color: #000;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  position: relative;
  display: inline;
  float: right;
}

.news {
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  margin: 0px auto;
  background-color: rgba(100, 65, 0, 0.3);
  box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 0.1),
    1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.news input{
    font-size: 12px;
    outline: black;
    font-weight: 500;
    color: gray;
    padding: 1% 1% 1% 1%;
    width: 75%;
    border-top: 5px solid red;
    border-right: 5px solid red;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    margin: 10px 2px;
    border-radius: 20px;
    background: black;
    box-shadow: inset 2px 3px 0px 2px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.submit input{
    font-size: 12px;
    outline: whitesmoke;
    font-weight: 600;
    color: yellow;
    padding: 1% 1% 1% 1%;
    width: 75%;
    border-top: 5px solid red;
    border-right: 5px solid red;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    margin: 10px 2px;
    border-radius: 20px;
    background: black;
    box-shadow: inset 2px 3px 0px 2px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}